* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #ccc;
}
h1{
    text-align: center;
}
h2 {
    text-align: center;
    color: blue;
}
.nav {
    background-color: greenyellow;
}
.nav li a:hover {
    background-color: red;
    color: white;
}
